<component name="ArtifactManager">
  <artifact type="war" name="Spring_Mybatis_Project_3:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="spring_mybatis.war">
      <element id="artifact" artifact-name="Spring_Mybatis_Project_3:war exploded" />
    </root>
  </artifact>
</component>